<style>
    body {background-color: powderblue;}
    label   {color: blue;}
    p    {color: red;}
    ul {
  list-style-type: none;
 }
  </style>
  
  <form action="/applicants" method='post'>

<label> Applicant name:</label>
<input type="text" name="name"/>

<input type="submit"/>

</form>