 <style>
    body {background-color: powderblue;}
    li   {color: blue;}
    p    {color: red;}
    
</style>
<label> Interviewer:</label>
<a href="/interviewers/<%= @interviewer.id %>">
    <h4>
        <%= @interviewer.name %>
    </h4>
</a>